.caja-carrito{
    width: 60%;
}

.carrito{
    width: 1.7rem;
    color:rgb(255, 255, 255)
}



@media screen and (max-width: 480px) {
   
    
    
    .carrito{
        width: 7vw;
        color:rgb(165, 165, 165);
    }
    
    .circulo{
        font-size: 7px !important;
       
    }


  }