
#card_producto{
    background-color: rgba(252, 251, 251, 0.692);
}

.contenedor{
    width: 25%;
    padding: 1.5rem;
    margin: 2rem;
    border-radius:6px;
    border: solid 2px rgba(87, 87, 87, 0.418);
    background-color: rgba(215, 215, 215, 0.57);

}

.descripcion_producto{
    font-size: 0.8rem;
}

.imagen {
    width: 100%;
}