
.card_producto{
    background-color: rgba(74, 74, 74, 0)!important;
    border: none !important;
   
}



#titulo_card{
    font-size: 0.9rem;
    color: rgb(147, 147, 147);
    letter-spacing: 2px;
}

.precio{
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.descripcion_producto{
    font-size: 0.8rem;
}

.imagen {
    width: 100%;
}

.ver_detalle{
    text-decoration: none;
    color: rgb(140, 140, 140);
    font-weight: bolder;
    font-size: 0.7rem;
    transition:0.5s all;
}

.ver_detalle:hover{
    font-size: 0.75rem;
    color: rgb(255, 255, 255);
   
}

#imagen {
    position: relative;
}

.t{
    height: 25%;
    width: 100%;
    position: absolute;
    top:12.9rem;
    font-weight: bold;
    background-color: rgba(183, 183, 183, 0.407);
    backdrop-filter: blur(5px);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.b-talles{
    border: none !important;
    border-radius: 2px !important;
    margin-bottom: 15px ;
    width: 50px;
    background-color: rgb(244, 244, 244) !important;
    color: black !important;
    transition: all 0.4s ease !important ;
}

.b-talles:hover{
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important; 
    
    box-shadow: 0px 5px 10px rgb(118, 24, 128)!important;
}