
#card_producto{
    background-color: rgba(74, 74, 74, 0);
   
}



#titulo_card{
    font-size: 0.9rem;
    color: rgb(147, 147, 147);
    letter-spacing: 2px;
}

.precio{
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.descripcion_producto{
    font-size: 0.8rem;
}

.imagen {
    width: 100%;
}

.ver_detalle{
    text-decoration: none;
    color: rgb(140, 140, 140);
    font-weight: bolder;
    font-size: 0.7rem;
}

.ver_detalle:hover{
    color: rgb(185, 185, 185);
}

#imagen {
    position: relative;
}

.t{
    position: absolute;
    top: 15.5rem;
    left: 2.5rem;
    background-color: rgba(255, 255, 255, 0.689);
    color: rgb(0, 0, 0);
}