
.barra{
    background-color: rgb(60, 42, 33);
    display: flex;
    justify-content: center;
    
}
.navbar{
    color: rgb(139, 138, 138);
    
}

.link-logo{
    text-decoration: none;
}

.logo{
    font-size: 2rem;
    /*width: 20rem;*/
    font-weight: bold;
    color:rgb(0, 0, 0);
    letter-spacing: 50px;
}

.my-link{
    font-size: 1.5rem;
    text-decoration: none ;
    color: rgb(213, 206, 163);
    letter-spacing: 2px;
}

.my-link:hover{
    color: rgb(255, 255, 255);
    font-weight: bold;
   
}