#fixed{
    z-index: 200;
    /*position: fixed;*/
    /*top: 0;*/
    
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.barra{
    background-color: rgb(60, 42, 33);
    
}

#basic-nav-dropdown{
    color: rgb(165, 165, 165);
    font-size: 0.8rem;
    background-color: black;
    
    
}

#basic-nav-dropdown:hover{
    color: rgb(255, 255, 255);
}



.categorias{
    background-color: rgb(255, 255, 255);
    font-size: 0.8rem;
    
}

.categorias:hover{
    background-color: rgb(147, 147, 147);
}



.link-logo{
    text-decoration: none;
}

.logo{
    font-size: 1.7rem;
    /*width: 20rem;*/
    font-weight: bold;
    color: aliceblue;
    letter-spacing: 3rem;
}

.my-link{
    font-size: 0.8rem;
    text-decoration: none ;
    color: rgb(165, 165, 165);
    letter-spacing: 2px;
    
}

.my-link:hover{
    color: rgb(255, 255, 255);
    font-weight: bold;
   
}
.link{
    text-decoration: none ;
}



/* Estilos para dispositivos móviles */
@media screen and (max-width: 480px) {
    
   

    .hamburguesa{
        font-size: 0.9rem !important;
        border:none !important;
    }

    .hamburguesa:focus{
        box-shadow: none !important;
    }

   
    
    
    #basic-nav-dropdown{
        color: rgb(165, 165, 165)!important;
        font-size: 0.6rem;
        background-color: rgba(0, 0, 0, 0);
        
        
    }
    
    
    .categorias{
        text-align: center !important;
        font-size: 0.6rem;
        
        
    }


    
    .logo{
        font-size: 5vw;
        letter-spacing: 10vw;
    }
    
    .my-link{
        font-size: 0.6rem;
        color: rgb(165, 165, 165);
        letter-spacing: 2px;
        
        
    }
    
    
    
    
    
    
    
  }