.envio{
    background-color: rgba(53, 2, 50, 0.626);
    font-size: 0.7rem;
    color: rgb(194, 194, 194);
    background-color: rgba(68, 36, 66, 0.626);
    background-color: rgba(33, 16, 32, 0.626);
   
    
}

