.piepagina{
    background-color: black;
}

.copy{
    font-size: 0.7rem;
    letter-spacing: 3px;
    
    
}

.copy a {
    text-decoration: none;
}


.icono{
    transition:0.5s all;
}

.icono:hover{
    box-shadow: 0px 0px 10px rgb(169, 67, 131);
    border: 1px solid rgb(140, 20, 84)!important;
   background-color: rgb(0, 0, 0)!important;
   color: antiquewhite!important;
   
   transition:0.5s all;
}