
.Contador{
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 8rem;
      background-color: rgba(125, 59, 59, 0);
}

.Controles{
      width:10%;
      display: flex;
      justify-content: space-evenly;
      padding-bottom: 2px;
      background-color: rgba(0, 0, 0, 0);
}


.Boton{
   
     font-size: 1.5rem;
     box-shadow: 4px 4px 6px black;
     background-color: rgb(223, 23, 90);
     border-radius: 3px;
     border: 3px solid rgb(244, 158, 0);
}