
@font-face {
    font-family: 'MOB';
    src: local('MOB'), url(../../fuentes/MADE\ Outer\ Sans\ Outline\ Alt\ Bold\ PERSONAL\ USE.otf) format('truetype');
}



.hero{
    
    height: 53rem;
    
}
.video{
  
    position: relative;
    
}

.info{
    height:50.5rem ;
    background-color: rgba(0, 0, 0, 0.697);
   position: relative;
   bottom:50.8rem;
   top: 50%;
}

.info_caja{
    height: 35%;
    padding-top: 30rem;
    text-align: start;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly ;
}

.titulo{
    font-family: 'MOB',sans-serif;
    letter-spacing: 4px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
}

.texto{
    color: rgb(196, 195, 195);
    letter-spacing: 2px;
}


@media screen and (max-width: 480px) {
    
    .hero{
    
        height: 4rem;
        
    }
    .video{
        display:none;
        
        
    }
    
    .info{
        height:70vw;
        background-color: rgb(43, 43, 43);
        font-size: 4vw;
       bottom:0rem;
       top: 0%;
    }
    
    .info_caja{
        display: flex;
        flex-direction: column;
        
        
        padding-top:0rem;
    }
    
    .titulo{
        padding-top: 2rem;
        padding-bottom: 1rem;
        font-size: 3.5vw;
        letter-spacing: 2px;
        line-height: 2;
        color: rgb(255, 255, 255);
        
    }
    
    .texto{
        color: rgb(196, 195, 195);
        letter-spacing: 2px;
    }

    .boton_inicio{
        font-size: 3.5vw;
        padding: 2.5vw 2.5vw;
    }
    



  }